.login-left h1 {
    font-size: 5rem; /* 작은 화면에서 폰트 크기 조정 */
    font-weight: bold;
    color: #222;
  }
  
  .login-left h3 {
    font-size: 1.25rem; /* 작은 화면에서 폰트 크기 조정 */
  }
  
  @media (max-width: 1000px) {
    /* 모바일에서 로그인 왼쪽 텍스트 정렬 중앙 및 폰트 크기 조정 */
    .login-left {
      text-align: center; /* 모바일에서 가운데 정렬 */
      padding-left: 0; /* 왼쪽 여백 없앰 */
      width: 50%; /* 로그인 왼쪽 너비 설정 */
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
  
    .login-left h1 {
      font-size: 1.9rem; /* 작은 화면에서 폰트 크기 조정 */
      font-weight: bold;
      color: #222;
    }
  
    .login-left h3 {
      font-size: 0.8rem; /* 작은 화면에서 폰트 크기 조정 */
    }
  
    .login-left img {
      width: 40px; /* 이미지 크기 조정 */
      margin-right: 8px; /* 이미지 간격 조정 */
    }
  
    /* 회원가입 폼의 크기 및 배치 조정 */
    .signup-form-container {
      padding: 0 20px;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
  
    .signup-form-container form {
      text-align: center;
    }
  
    /* 버튼을 100%로 설정 */
    .signup-form-container .btn {
      width: 100%;
    }
  
    /* 회원가입 폼 영역 비율 */
    .signup-form-container {
      width: 100%;
      min-width: 320px;
      flex-grow: 1;
    }
  
    /* 회원가입 화면 레이아웃 조정 */
    .signup-container {
      flex-direction: column;
      gap: 1rem; /* 모바일에서는 간격을 줄입니다. */
    }
  
    /* 폼 영역 크기 조정 */
    .signup-form {
      max-width: 350px; /* 제한된 폼 크기 */
      width: 90%; /* 모바일에서는 폼 크기 조정 */
      margin: 0 auto;
    }
  }
  